* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}
/* ================ Common ================ */

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.117241;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26316; /* 126.316% */
}

.list-dot {
    margin-top: 28px;
    display: flex;
    align-items: center;
}
.dot-item {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.dot-item + .dot-item {
    margin-left: 6px;
}

.dot-item.active {
    background-color: #ffb900;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    min-width: 118px;
    padding: 0 16px;
    background: #171100;
    border-radius: 24.5px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}
/* ================ Header ================ */
.header {
    background: #fffcf4;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}
.header .sign-up-btn {
    min-width: 144px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav li {
    position: relative;
    padding: 8px 21px;
}

.header .nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header .nav a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    font-size: 1.6rem;
}

.header li.active::before {
    position: absolute;
    bottom: 9px;
    left: 22px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: 49px;
}

/* ================ Hero ================ */
.hero {
    background: #fffcf4;
    padding-top: 72px;
    padding-bottom: 65px;
    scroll-margin-top: 0px;
}
.hero .body {
    display: flex;
}

.hero .media-block,
.hero .content-block {
    flex: 1;
}

/* media-image */
.media-block {
    position: relative;
}

.media-block .media-image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

/* block-info */
.block-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 48px;
    left: 300px;
    padding: 10px 24px 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.block-info .row-info {
    display: flex;
    flex: 1;
    align-items: center;
}

.row-info {
    margin-top: 14px;
}

.row-info .bg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    background-color: #fff9e8;
    border-radius: 50%;
}

.row-info:nth-child(2) .bg-icon {
    background-color: #fcefff;
}

.row-info:nth-child(3) .bg-icon {
    background-color: #ebeaff;
}

.wrap-info .value-info {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.wrap-info .name-info {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667;
}

/* content-block */
.content-block .wrap-content {
    padding-top: 64px;
    width: 470px;
    margin-left: auto;
}

.content-block .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.content-block .row-content {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.content-block .btn-row-content {
    margin-right: 28px;
    min-width: 180px;
    border-radius: 32px;
    background: var(--primary-color);

    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 64px;
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    border-radius: 50%;
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.content-block .sub-title {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.row-content-value {
    display: flex;
}

.row-content-value .block-value .value {
    margin-top: 8px;
    margin-right: 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727; /* 122.727% */
}

.row-content-value .block-value .value span {
    font-family: Poppins;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

/* ================ Hero ================ */
.popular {
    margin-top: 200px;
    scroll-margin-top: 70px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .control {
    display: flex;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.popular-top .ctl-right {
    margin-left: 18px;
}

.popular-top .info {
    width: 458px;
}

.popular .body .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.blog .blog-list,
.popular .body .list-item {
    margin-top: 55px;
}

.blog .body-item,
.popular .body .list-item {
    display: flex;
    gap: 30px;
}

.blog .content-item,
.popular .item {
    display: block;
    flex: 1;
    border-radius: 12px;
    background: #fff;
}

.popular .item {
    border: 1px solid #e2dfda;
}

.popular .item:hover {
    border: 1px solid transparent;
}

.blog .content-item:hover,
.popular .item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.blog .content-item .blog-img,
.popular .item .popular-image {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .item .popular-image {
    margin: -1px;
    width: calc(100% + 2px);
}

.popular .item .wrap-row-item {
    padding: 16px 22px 22px;
}

.popular .item .row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .row-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.popular .row-item .eva {
    display: flex;
    align-items: center;
}

.popular .row-item .eva .icon {
    padding-bottom: 4px;
    margin-right: 6px;
}

.popular .row-item .eva .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .wrap-row-item .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.popular .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popular .row .cost {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.blog .blog-btn,
.popular .row .btn-cost {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.blog .blog-btn:hover,
.popular .row .btn-cost:hover {
    border-radius: 25px;
    background: #ffb900;
}

/* ================ Feedback ================ */
.feedback {
    min-width: 1440;
    width: 100%;
    margin-top: 200px;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 96px 0;
    width: 100%;
    transform: translateX(-100%);
}

.feedback .info {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .info .name {
    margin-top: 16px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667;
}

.feedback .info .role {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.feedback .wrap-quote {
    position: relative;
    width: 65%;
}

.feedback .wrap-quote .quote {
    margin-top: 28px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53846; /* 153.846% */
}

.feedback .wrap-quote .icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

/* ================ Features ================ */
.features {
    margin-top: 135px;
    padding: 65px 0;
    scroll-margin-top: 80px;
}

.features .wrap-features-top {
    display: flex;
    justify-content: space-between;
}

.feature-left {
    width: 60%;
}

.wrap-features-top .feature-left {
    display: flex;
    gap: 30px;
}

.feature-left .feature-img-top {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.feature-left .feature-img-top:first-child {
    margin-top: 30px;
}

.feature-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

.blog .desc,
.blog .date,
.feature-lesson,
.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.feature-btn {
    margin-top: 32px;
    width: 137px;
    border-radius: 26px;
    background: #ffb900;
}

/* features bottom */

.wrap-features-bottom {
    margin-top: 70px;
    padding: 65px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-features-bottom .feature-left {
    width: 49%;
}

.feature-img-bottom {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ================ Blog ================ */
.blog {
    margin-top: 135px;
    padding-bottom: 96px;
    background: #fffcf4;
    scroll-margin-top: -20px;
}

.blog .blog-list{
    display: flex;
    overflow: hidden;
}

.blog .blog-list .blog-item{
    width: 100%;
    flex-shrink: 0;
}

.blog .heading {
    padding-top: 96px;
}

.blog .desc,
.blog .heading {
    text-align: center;
}

.blog .desc {
    margin: auto;
    margin-top: 16px;
    width: 448px;
    color: #696262;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog .date {
    position: relative;
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.blog .date::before {
    position: absolute;
    top: calc(50% - 3px);
    left: -10px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    border-radius: 50%;
}

.blog .date::after {
    position: absolute;
    left: -10px;
    bottom: -12px;
    content: "";
    display: inline-block;
    width: calc(100% + 27px);
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .title {
    margin-top: 24px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog .blog-btn {
    margin-top: 12px;
}

.blog .list-dot {
    width: 30px;
    margin: 38px auto 0;
}

.blog-dot {
    background-color: #5f5b53;
}



/* ================ Footer ================ */
.footer {
    background-color: #2e2100;
}

.footer-body {
    padding: 96px 0 28px;
}

.footer-body .list-item {
    display: flex;
}

.footer-body .item:first-child {
    margin-right: 145px;
}

.footer-body .item:nth-child(3) {
    margin: 0 137px 0 130px;
}

.footer-body .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer-body ul {
    position: relative;
    margin-top: 43px;
}

.footer-body ul::before {
    position: absolute;
    top: -28px;
    left: 0;
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer-body li a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.footer-body li + li {
    margin-top: 12px;
}

.footer-body .item:last-child {
    width: 231px;
}

.footer-body .item:last-child span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85714; /* 185.714% */
}

.footer-body .dot,
.footer-body .logo {
    color: #fff;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667; /* 141.667% */
}

.footer-body .dot {
    color: var(--primary-color);
}

.footer-body .info {
    margin-top: 18px;
    width: 267px;

    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.footer-body .row-social {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 18px;
    width: 111px;
}

.footer .shape {
    margin-top: 38px;
    width: 1170px;
    height: 1px;
    background: #59554b;
}

.footer .copyright {
    padding-top: 28px;
    color: #807d74;
    text-align: center;
    font-size: 1.4re;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}
